.custom-dialog .MuiDialog-paper {
  border-radius: 8px;
  padding: 8px;
}

.custom-dialog-title {
  font-size: 20px !important;
  font-weight: bold !important;
  padding-bottom: 10px !important;
}

.custom-dialog-content {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.custom-dialog-actions {
  padding: 10px 24px 16px !important;
  gap: 8px;
}